<!doctype html>
<html lang="en">
<head></head>

<body class="principal" >
    <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error de autenticacion</strong>, usuario o contraseña incorrecta. Vuelva a intentarlo o pongase en contacto con el administrador.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="login">
        <img class="mb-4" src="/assets/imgs/ita.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">Bienvenido</h1>
    
        <div class="form-floating">
        <input type="user" class="form-control" placeholder="User_Name" #usuario>
        <label for="floatingInput">Usuario</label>
        </div>
        <div class="form-floating">
        <input type="password" class="form-control" placeholder="Password" #contrasena>
        <label for="floatingPassword">Contraseña</label>
        </div>
    
        <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me" disabled> Recordarme
        </label>
        </div>
        <button class="w-100 btn btn-lg btn-success" type="submit" (click)="acceder(usuario.value, contrasena.value)">Acceder</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2022-2023</p>
    </div> 

</body>
</html>
